:root {
    --background-color: hsl(33, 20%, 78%);
    --background-color2: hsl(29, 21%, 62%);
    --text-color: hsl(0, 0%, 0%);
    --navtext-color: hsl(23, 100%, 65%);
    --gradient-color1: hsl(23, 100%, 65%);
    --gradient-color2: hsl(23, 96%, 79%);

    /*
    --background-color: hsl(52, 89%, 78%);
    --background-color2: hsl(312, 36%, 54%);
    --text-color: hsl(355, 98%, 80%);
    --navtext-color: hsl(260, 40%, 58%);
    */
}